* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration:none;
    font-size: initial;
    color:#fff;
}

.header {
    top: 0;
    position: fixed;
    left: 50%;
    transform:translateX(-50%);
}

main {
    margin-top: 50px;
}

.header__list {   /* ul */
    font-size: 0;
}

.header__item {   /* li */
    list-style-type: none;
    display: inline-block;
}

.header__link, .header__submenu__link{ /* a */
    display: block;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #47986D;
}

.header__submenu__link {
    background-color:#47986D;
}

.header__submenu {
    width: 100%;
}

.header__item, .header__submenu__item {
    position: relative;
}

li:hover > a {
    background-color: #427E5F;
}

.header__submenu{
    display: none;  
}
/*  */
.header__item .header__submenu {
    position: absolute;
}
/*  */
.header__submenu__item .header__submenu {
    position: absolute;
    left: 100%;
    top: 0;
}

.header__submenu__item {
    display: block;
}

.header__item:hover>.header__submenu, .header__submenu__item:hover>.header__submenu{
    display: block;
}


