* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration:none;
    font-size: initial;
    display: inline-block;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul {
    list-style-type: none;
}

.header {
    top: 0;
    position: fixed;
    left: 50%;
    transform:translateX(-50%);
}

main {
    margin-top: 50px;
}

.header__submenu {               /* ul */             
    font-size: 0;   
}

.header__submenu__item {          /* li */
    display: inline-block;
    position: relative;
    background-color: lightgreen;
}

.header__submenu__link {           /* a */
    border:1px solid black;
    padding: 10px 20px;
}

.subhover {
    visibility: hidden;
    position: absolute;
    margin-top: -100%;
    z-index: -1;
    top: 100%;
    left: 0;
    transition: margin-top .3s linear;
}

.posLeft {
    top: 0;
    left: 100%;
    margin-top: 0%;
    opacity: 0;
    transition: opacity .4s linear;
}

li:hover>a {
    background-color: green;
}

.header__submenu__item:hover > .subhover {
    visibility: visible;
    margin-top: 0;
    opacity: 1;
}
